@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor1: #DD4A16;
    --cor2: #F7EBE1;
    --cor3: #F9964A;

    --font: 'Inter', sans-serif;
    --font-estilizada: 'DM Serif Text', serif;
}

* {
    margin: 0;
    padding: 0;
}

p, a {
    font-family: var(--font);
}

h1, h2 {
    font-family: var(--font-estilizada);
}
